@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: sans-serif;
  background: rgb(250, 250, 250);
  color: black;
}
nav,
.content-container,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
html{
    scroll-behavior: smooth;
}
/* ========== Menu ==========*/
.content{
    max-width: 1250px;
    margin: auto;
    padding: 0px 30px;
}
.navbar{
    position: fixed;
    z-index: 1000;
    width: 100%;
    padding: 1em;
    transition: all 0.3s ease;
    background: white;
    box-shadow: 0 1px 10px 5px rgba(0, 0, 0, 0.1);
}
.navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo{
    width: 50px;
    transition: 0.3s;
}
#logo:hover{
    transform: scale(1.2);
} 
.navbar .menu-list{
    display: inline-flex;
}
.menu-list li{
    list-style: none;
}
.menu-list li a{
    color: rgb(18, 21, 42);
    font-size: 18px;
    font-weight: 300;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.menu-list li a:hover{
    color: #007bff;
}
.icon{
    color: rgb(18, 21, 42);
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.icon.cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
}
.navbar.sticky .icon.cancel-btn{
    top: 10px;
}
/* ========== Hero Section ==========*/
a{
    text-decoration: none;
    color: black;
}
button{
    cursor: pointer;
}
section{
    width: 100%;
    min-height: 100vh;
}
#main{
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.credit-page{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 498px;
    margin: 0 auto;
    padding: 0 15px;
    background: transparent;
    position: relative;
}
.credit-page__title{
    font-weight: 400;
    color:rgb(18, 21, 42);
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 1px;
    margin: 0 0 12px;
    font-size: 24px;
    line-height: 30px;
}
.credit-page__description{
    color: rgb(184, 185, 192);
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 25px;
}
.credit-section{
    display: block;
}
.credit-conditions{
    display: flex;
    gap: 15px;
    justify-content: space-between;
}
.credit__one-condition{
    max-width: 150px;
}
.credit__one-condition-title{
    font-weight: 400;
    font-size: 12px;
    color: rgba(18, 21, 42, 0.5);
    margin-bottom: 4px;
    overflow: hidden;
    height: 30px;
}
.credit__one-condition-value{
    font-size: 18px;
    line-height: 25px;
    color: rgb(18, 21, 42);
}
.credit__block-name{
    margin-top: 20px;
    font-size: 12px;
    line-height: 16px;
    color: rgba(18, 21, 42, 0.5);
}
.credit__slider-money-value,
.credit__slider-first-pay-value,
.credit__slider-period-value{
    margin-top: 10px;
    color: rgb(18, 21, 42);
    font-size: 18px;
    line-height: 25px;
}
.credit__slider-money,
.credit__slider-first-pay,
.credit__slider-period{
    width: 100%;
    height: 5px;
    background: rgba(18, 21, 42, 0.2);
    -webkit-appearance: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
.credit__slider-money::-webkit-slider-thumb,
.credit__slider-first-pay::-webkit-slider-thumb,
.credit__slider-period::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    border: 3px solid #2360d1;
    border-radius: 15px;
    cursor: grab;
}
.credit__slider-limits{
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}
.credit__slider-limit,
.credit__slider-limit-low,
.credit__slider-limit-high{
    color: rgb(184, 185, 192);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
}
.credit__partners-title{
    margin: 50px 0 30px;
    font-size: 24px;
    color: rgb(18, 21, 42);
}
.credit__partners{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    position: relative;
}
.bank-logo{
    object-fit: contain;
    width: 100px;
    height: 100px;
}
/* ========== Footer ==========*/
footer{
    position: relative;
    width: 100%;
    height: auto;
    z-index: 999;
    background: rgb(18, 21, 42);
    padding: 3em 5em 1em ;
    color: white;
}
footer .container{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 2em;
}
footer .aboutus a{
    color: rgb(136, 138, 148);
    transition: 0.5s;
}
footer .aboutus a:hover{
    color:#2360d1;
}
footer .container h2{
    font-weight: 400;
    margin-bottom: 1em;
}
footer .container .socials{
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(4, 52px);
    grid-gap: 10px;
}
footer .container .socials li{
    list-style: none;
}
footer .container .socials li a{
    color: white;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: rgb(136, 138, 148);
    border-radius: 5px;
    display: grid;
    align-content: center;
    justify-content: center;
    transition: 0.5s;
}
footer .container .socials li a:hover{
    background:#2360d1;
}
footer li{
    list-style: none;
    margin-bottom: 0.7em;
}
footer li a{
    color: rgb(136, 138, 148);
    display: inline-block;
    transition: 0.5s;
}
footer li a:hover{
    color: #2360d1;
}
.info li{
    display: grid;
    grid-template-columns: 30px 1fr;
    list-style: none;
}
.copyright{
    width: 100%;
    color: rgb(136, 138, 148);
    background: #011e49;
    padding: 0;
    text-align: center;
    padding: 0.5em;
}
@media (max-width: 1000px){
    footer{
        padding: 40px;
    }
    footer .container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 768px){
    footer .container{
        grid-template-columns: repeat(1, 1fr);
    }
    body.disabled{
        overflow: hidden;
    }
    .icon{
        display: block;
    }
    .icon.hide{
        display: none;
    }
    .navbar .menu-list{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0px;
        display: block;
        padding: 40px 0;
        text-align: center;
        background: white;
        transition: all 0.3s ease;
    }
    .navbar.show .menu-list{
        left: 0%;
    }
    .navbar .menu-list li{
        margin-top: 45px;
    }
    .navbar .menu-list li a{
        font-size: 23px;
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .navbar.show .menu-list li a{
        margin-left: 0px;
    }
}
@media (min-width: 768px){
    .credit-page__title{
        font-size: 36px;
        line-height: 40px;
        margin: 0 0 5px;
    }
    .credit__one-condition-value{
        font-size: 24px;
        line-height: 24px;
    }
    .credit__slider-money-value,
    .credit__slider-first-pay-value,
    .credit__slider-period-value{
        font-size: 24px;
        line-height: 33px;
    }
    .credit__slider-limit,
    .credit__slider-limit-low,
    .credit__slider-limit-high{
        font-weight: 500;
        font-size: 15px;
        line-height: 21px;
    }
}